<body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand text-success">Modpack Manager</a>
      <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse" [collapse]="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-primary" (click)="openInstall(installTemplate)">Install Pack</button>
          </li>

          <li class="nav-item">
            <button type="button" class="btn btn-primary" (click)="setInstanceFolder()">Instance Folder</button>
          </li>

          <li class="nav-item">
            <button type="button" class="btn btn-primary" (click)="downloadTest()">Download</button>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <div class="container mh-100">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>

    <!--<div *ngFor="let row of buildPartArray(modPacks, 3); let i = index" class="row">
      <div *ngFor="let pack of row" class="col-md-4">
        <h2>{{part.name}}</h2>
        <span [innerHTML]="part.info"></span>
        <br>
        <a class="btn btn-secondary" routerLink="/grim-pack/{{part.id}}" role="button">View details &raquo;</a>
      </div>
    </div>-->

    <div class="card-columns">
      <div *ngFor="let pack of modPacks" class="card" (auxclick)="$event.preventDefault(); rightClick($event, dropdown);">
        <div dropdown class="text-right float-right" placement="bottom right" container="body" #dropdown="bs-dropdown">
          <button class="btn btn-primary" dropdownToggle type="button">
            ...
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item" (click)="updatePack(pack, updateTemplate)">Update Pack</a></li>
          </ul>
        </div>
        <img *ngIf="pack.image" class="card-img-top" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{pack.name}}</h5>
          <p class="card-text">This packs contains {{pack.mods.size}} mods. It was made by {{pack.author}}.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Built with Minecraft: {{pack.mcVersion}} and Forge: {{pack.forgeVersion}}</small>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
</body>

<ng-template #installTemplate>
  <div class="modal-body text-center">
    <form>
      <div class="form-group row">
        <label for="packName" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="packName" placeholder="Pack Name" #installName>
        </div>
      </div>

      <div class="form-group row">
        <label for="packUrl" class="col-sm-2 col-form-label">Url:</label>
        <div class="input-group col-sm-10">
          <input type="text" class="form-control" id="packUrl" placeholder="Pack Url" #installUrl>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="chooseZipFile(installUrl, installName)">...</button>
          </div>
        </div>
      </div>

    </form>
    <hr />

    <button type="button" class="btn btn-primary" (click)="confirmInstall(installName.value, installUrl.value)">Create</button>
    <button type="button" class="btn btn-danger" (click)="declineInstall()">Cancel</button>
  </div>
</ng-template>

<ng-template #updateTemplate>
  <div class="modal-body text-center">
    <div *ngIf="selectedPack">Updating {{selectedPack.name}}</div>

    <div class="form-group row">
      <label for="packUrl" class="col-sm-2 col-form-label">Url:</label>
      <div class="input-group col-sm-10">
        <input type="text" class="form-control" id="packUrl" placeholder="Pack Url" #updateUrl>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="chooseZipFile(updateUrl)">...</button>
        </div>
      </div>
    </div>
    <hr />

    <button type="button" class="btn btn-primary" (click)="confirmUpdate(updateUrl.value)">Update</button>
    <button type="button" class="btn btn-danger" (click)="declineUpdate()">Cancel</button>
  </div>
</ng-template>
